		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 78 
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =        5 
spLoggerFilename	 = LogFile		
	spKNN = 5
spLoggerLevel = 1
spKDTreeSplitMethod = RANDOM
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=pic 
spImagesSuffix   =     .gif 
#noy
spPCADimension = 10