spImagesDirectory         =                       ./images1/ 
spImagesPrefix=picture 
spNumOfImages =                       2   
spPCADimension = 10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 25 
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =        43
spLoggerFilename	 = LOGFILE		
	spKNN = 5
spLoggerLevel = 1
spKDTreeSplitMethod = RANDOM