spImagesDirectory         =                       ./images1/ 
spImagesSuffix   =     .gif 
spNumOfImages =                       43   
spPCADimension = 10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 57 
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =        5 
spLoggerFilename	 = LOGIFLE		
	spKNN = 5
spLoggerLevel = 3
spKDTreeSplitMethod = RANDOM