
spExtractionMode = true                   
     spMinimalGUI = true         
spNumOfSimilarImages       =10   
#bla
spImagesPrefix=pic 
spImagesSuffix   =     .gif 
spNumOfImages =                       23  
spPCADimension = 10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 50 
spLoggerFilename	 = Logfile		
	spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = MAX_SPREAD