#Invalid Check
spImagesDirectory         =                       ./images/ 
spImagesPrefix=img 
spImagesSuffix   =     .png 
spNumOfImages =                       17   
spPCADimension = 20  
spPCAFilename = pca.yml 
spNumOfFeatures = 100 
spExtractionMode = true                   
spMinimalGUI = true         
spNumOfSimilarImages               7 
spLoggerFilename = stdout
spKNN = 6
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM