#Invalid Check
spImagesDirectory         =                       ./images/ 
spImagesPrefix=img 
spImagesSuffix   =     .png 
spNumOf  Images =                       18  
spPCADimension = 20  
spPCAFilename = pca.yml 
spNumOfFeatures = 100 
spExtractionMode = true                   
spMinimalGUI = true         
spNumOfSimilarImages       =        6 
spLoggerFilename = stdout
spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM