#Invalid Check
spImagesDirectory         =                       ./images/ 
spImagesPrefix=    imag 
spImagesSuffix   =     .png 
spNumOfImages =                       18   
spPCADimension = 20  
spPCAFilename = pca.yml 
spNumOfFeatures = 180 
spExtractionMode = true                   
spMinimalGUI = true         
spNumOfSimilarImages       =        4 
spLoggerFilename = stdout
spKNN = 5
spLoggerLevel = 3
 = RANDOM