#Invalid Check
spImagesDirectory         =                       ./images/ 
spImagesPrefix=imag 
spImagesSuffix   =     .png 
spNumOfImages =                       19   
spPCADimension = 20  
spPCAFilename = pca.yml 
spNumOfFeatures = 100 
spExtractionMode = true                   
spMinimalGUI = true         
spNumOfSimilarImages       =        8 
 = nkj
spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM