#Invalid Check
spImagesDirectory         =                       ./images/ 
		=imag 
spImagesSuffix   =     .png 
spNumOfImages =                       18   
spPCADimension = 20  
spPCAFilename = pca.yml 
spNumOfFeatures = 104
spExtractionMode = true                   
spMinimalGUI = true         
spNumOfSimilarImages       =        9 
spLoggerFilename = stdout
spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM