#Invalid check
spImagesDirectory         =                       ./images/ 
spImagesPrefix=img 
spImagesSuffix   =     .png 
spNumOfImages =                       18  
spPCADimension = 20  
spPCAFilename = pca.yml 
spNumOfFeatures = 107 
spExtractionMode = true                   
spMinimalGUI = true         
spNumOfSimilarImages       =        4 
spLoggerFilename = 
spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM