#this is a valid configuration file includes all variables 
spImagesDirectory=./images1/ 
spImagesPrefix=imag 
spImagesSuffix=.png 
spNumOfImages=2   
spPCADimension=28  
spPCAFilename=pca2.yml 
spNumOfFeatures=20 
spExtractionMode=false                   
spMinimalGUI=true         
spNumOfSimilarImages=5 
spLoggerFilename=def
spKNN=5
spLoggerLevel=1
spKDTreeSplitMethod=INCREMENTAL