#this is a valid configuration file includes all variables 
spImagesDirectory         =                       ./images/ 
spImagesPrefix=img 
spImagesSuffix   =     .png 
spNumOfImages =                       17   
spPCADimension = 20.5  
spPCAFilename = pca.yml 
spNumOfFeatures = 100 
spExtractionMode = true                   
spMinimalGUI = true         
spNumOfSimilarImages       =        5 
spLoggerFilename = stdout
spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM