#Test7
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=pic 
spImagesSuffix   =     .gif 
spNumOfImages =                       2   
spPCADimension = 9  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 78
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =        5 
spLoggerFilename	 = LogFile	
#kgzjkjz	
	spKNN = 5
spLoggerLevel = 1
spKDTreeSplitMethod = RANDOM