#this is a valid configuration file includes all variables 
spImagesDirectory=./images1/ 
spImagesPrefix							=imag 
spImagesSuffix=.png 
spNumOfImages=3
spPCADimension				=28  
spPCAFilename=pca3.yml 
spNumOfFeatures=100
spExtractionMode=false                   
spMinimalGUI=true         
spNumOfSimilarImages=9
spLoggerFilename=def
spKNN=9
spLoggerLevel=1
spKDTreeSplitMethod=	MAX_SPREAD