#test8
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=pic 
spImagesSuffix   =     .bmpppppppppppppp 
spNumOfImages =                       2   
spPCADimension = 10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 78 
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =        5 
spLoggerFilename	 = Logfile		
	spKNN = 5
spLoggerLevel = 3
spKDTreeSplitMethod = RANDOM