#Test4
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=pic 
spImagesSuffix   =     .gif 
spNumOfImages =                       2  
spPCADimension = 10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 59 
spExtractionMode = false                  
     spMinimalGUI = false         
spNumOfSimilarImages       =        9 
spLoggerFilename	 = Logfile	
#noy is the queen	
	spKNN = 6 9
#nofar is princess
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM