#Test 5
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=pic 
spImagesSuffix   =     .gif 
spNumOfImages =                       89   
spPCADimension = 10  
		spPCAFilename 		= pca 2.yml 
spNumOfFeatures = 78 
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =        9 
spLoggerFilename	 = Logfile		
	spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM