#Test9
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=imag 
spImagesSuffix   =     .png 
spNumOfImages =                       2   
spPCADimension = 10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 59
spExtractionMode = true                   
     spMinimalGUI = trueer         
spNumOfSimilarImages       =        5 
spLoggerFilename	 = LogFile		
	spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM