#bla
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=imag 
spImagesSuffix   =     .png 
spNumOfImages =                       2   
spPCADimension = 10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 50 
spExtractionMode = true                   
     spMinimalGUI = falsesr         
spNumOfSimilarImages       =        5 
spLoggerFilename	 = abc		
	spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM