#bla
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=pic 
spImagesSuffix   =     .gif 
spNumOfImages =                       2  
spPCADimension = 10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 50 
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =        5 
spLoggerFilename	 = abc		
	spKNN = 5 8
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM