#Test1
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=pic 
spImagesSuffix   =     .gif 
spNumOfImages =                       2   
spPCADimension = 10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 70 
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =        '&*#9y549569376hsjh&5$abc 
spLoggerFilename	 = Logfile		
	spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM