#Test3
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=pic 
spImagesSuffix   =     .gif 
spNumOfImages =                       26   
spPCADimension = -189  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 78
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =        5 
spLoggerFilename	 = logFile		
	spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM