#Test2
spImagesDirectory         =                       ./images/ 
spImagesPrefix=img 
spImagesSuffix   =     .png 
spNumOfImages =                       29   
spPCADimension = 25.5  
spPCAFilename = pca.yml 
spNumOfFeatures = 100 
#notskdsd,gsdj,sjg
spExtractionMode = true                   
spMinimalGUI = true         
spNumOfSimilarImages       =        5 
spLoggerFilename = stdout
spKNN = 5
spLoggerLevel = 2
spKDTreeSplitMethod = RANDOM