#Noy and Nofar Are the best!!!!!!!!!
spImagesDirectory         =                       ./images1/ 
spImagesPrefix=imag 
spImagesSuffix   =     .png 
spNumOfImages =                       25  
spPCADimension =  10  
		spPCAFilename 		= pca2.yml 
spNumOfFeatures = 50 
spExtractionMode = true                   
     spMinimalGUI = false         
spNumOfSimilarImages       =       6
spLoggerFilename	 = noyLog		
	spKNN = 5
spLoggerLevel = 3
spKDTreeSplitMethod = RANDOM