#Valid Check
spImagesDirectory=./images1/ 
spImagesPrefix=imag 
spImagesSuffix=.png 
spNumOfImages=2   
spPCADimension=28  
spPCAFilename=pca2.yml 
spNumOfFeatures=20 
#noyyyyyyyyyyyyyyyyyyyyyyyyy
spExtractionMode=false                   
spMinimalGUI=true         
spNumOfSimilarImages=5 
#sapir
spLoggerFilename=def
spKNN=5
spLoggerLevel=1
spKDTreeSplitMethod=INCREMENTAL
